@model Library.DB.Yazarlar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Seçtiğiniz veri silinecek. Emin misiniz?</h3>
<div>
    <h4>Yazarlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyad)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("<< Yazarlar", "Index")
        </div>
    }
</div>
