@model IEnumerable<Library.DB.Yorumlar>

@{
    ViewBag.Title = "Index";
}

<h2>Yorumlar</h2>

<p>
    @Html.ActionLink("Yorum Ekle", "Create", "Yorumlar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kitaplar.ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanicilar.kullaniciAdi)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kitaplar.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanicilar.kullaniciAdi)
        </td>
      
        <td>
            @Html.RoleButton("Detay", "Details", "Yorumlar", "Admin", new { id = item.ID }) 

        </td>
    </tr>
}

</table>
